<!DOCTYPE html>
<html>
  <head>
    <title>Voting App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
        var retStr = "";
        var authuser = '<%= authuser %>';
            
      /*
        function deletePoll(name) {
           // now post to node server
           $.ajax({
              url: '/deletepoll', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({"name": name}),
              success: setTimeout(function () { $.get('/getAllPolls', dataReady); }, 1000)  // wait a sec then refresh data
           })
        }
        */
      
        function createPollHtml (elm) {  
          retStr += "</br>";
          //retStr += "<button onclick='deletePoll(\"" + elm.name+ "\")'>Delete</button>";
          retStr += "<a href='showpoll?name=" + encodeURI(elm.name) + "'><span>" + elm.name + "</span></a>";

        }

        function dataReady(data) {
          retStr = "";
          console.log("allpolldata=" + JSON.stringify(data));
          data.forEach(createPollHtml);
          $("#contentDiv").html(retStr);
        }
      
        $(function() {  
          console.log("Document ready!");
          
          myHeader();
                    
          console.log("sending get request...");
          $.get('/getAllPolls', dataReady);
        });  
    </script>
  </head>
  <body>
    <header class="myhdr">
    </header>
    <h1>
      All Polls:
    </h1>
    <div id="contentDiv">   
       
    </div>
        
    <script src="/client.js"></script>
  </body>
</html>