<!DOCTYPE html>
<html>
  <head>
    <title>Voting App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script> //TWITTER WIDGETS SCRIPT
            window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };

            return t;
          }(document, "script", "twitter-wjs"));
    </script>
    <script>
        var retStr = "";
        var authuser = '<%= authuser %>';
        var chartLabels = [];
        var chartData = [];
             
        function refreshOpt(pollname, newOpt) {
          /*
          console.log("refreshing page...");
          retStr = "";
          createOptionsHtml({"name": pollname, "option":newOpt, "votes":1});
          $("#optionsDiv").append(retStr);
          */
          
          refreshPage();
          //$.get('/getAllOptions?optname=' + encodeURI('<%= pollname %>') , dataReady);
        }
      
        function refreshPage() {
          // resfresh after 1 sec
          setTimeout(function () { $.get('/getAllOptions?optname=' + encodeURI('<%= pollname %>') , dataReady); }, 1000);          
        }
      
        function createOptionsHtml (elm) { 
          chartLabels.push(elm.option);
          chartData.push(elm.votes);
          retStr += "</br><a href='#' onclick='vote(\"" + elm.option+ "\")'><button>Vote</button></a><span>" + elm.option + "  votes: " + elm.votes + "</span>";
        }
      
        function vote(opt) {
           //var newOpt = $('#newopt').val();
           console.log("vote opt=" + opt);
         
           var pollname = '<%= pollname %>' ;
           // now post to node server
           $.ajax({
              url: '/vote', 
              type: 'POST', 
              contentType: 'application/json', 
              data: JSON.stringify({"name": pollname, "options":opt}),
              success: refreshPage() 
           })
           
        }

        function dataReady(data) {
          chartLabels = [];
          chartData = [];
          retStr = "<div id='optionsDiv'>";
          console.log("alloptdata=" + JSON.stringify(data));
          data.forEach(createOptionsHtml);
          if (authuser !== "")
            retStr += "</div></br></br><label>New Option:</label><input id='newopt'></input><button onclick='addOption()'>Add</button>";
          
          ///////////////////////
          var ctx = document.getElementById("myChart").getContext('2d');                  
          var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
              //labels: ["M", "T", "W", "T", "F", "S", "S"],
              labels: chartLabels,
              datasets: [{
                backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",                  
                    "#00ffff",
                    "#ffa500",
                    "#a52a2a",
                    "#00008b",
                    "#008000",
                    "#4b0082",
                    "#f0e68c",
                    "#00ff00",
                    "#ff00ff",
                    "#800000",
                    "#000080",
                    "#808000",
                    "#ffc0cb",         
                    "#34495e"
                ],
                //data: [12, 19, 3, 17, 28, 24, 7]
                data: chartData
              }]
            }
          });
          //////////////////////
          
          $("#contentDiv").html(retStr);
        }
      
       function addOption() {
         var newOpt = $('#newopt').val();
         console.log("newopt=" + newOpt);
         
         var pollname = '<%= pollname %>' ;
         // now post to node server
         $.ajax({
            url: '/saveoption', 
            type: 'POST', 
            contentType: 'application/json', 
            data: JSON.stringify({"name": pollname, "options":newOpt}),
            success: refreshOpt(pollname, newOpt) 
         })
       }      
      
       $(function() {  
          console.log("Document ready!");
          myHeader();
                
          console.log("sending get request...");
          $.get('/getAllOptions?optname=' + encodeURI('<%= pollname %>') , dataReady);
        });    
    </script>
  </head>
  <body>
    <header class="myhdr">
    </header>
    <h1>Poll: <%= pollname %></h1>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=A%20cool%20poll" data-size="large">Tweet</a>
    <div>
      <div id = "contentDiv" class="fl">         
      </div>
      <canvas id="myChart" class="fl">
      </canvas>       
    </div>
    <script src="/client.js"></script>      
  </body>
</html>